In [28]:
import pandas as pd 
import numpy as np
import requests

In [29]:
#get the url
url = requests.get('https://www.worldcoinindex.com/')

In [30]:
#check the response 
url

In [31]:
#get the html code of the website
result = url.text

In [32]:
#creat you dataframe from the html code of the website of interest 
df = pd.read_html(result)

In [34]:
df

[       # Unnamed: 1         Name Ticker    Last price        %       24 high  \
 0      1        NaN      bitcoin    BTC   $ 7,253.513   +0.71%   $ 7,266.044
 1      2        NaN     ethereum    ETH   $ 132.12937   +1.67%   $ 132.96212
 2      3        NaN     litecoin    LTC   $ 42.290521   +0.68%   $ 42.547199
 3      4        NaN          eos    EOS   $ 2.6239464   +1.62%   $ 2.6350494
 4      5        NaN  bitcoincash    BCH   $ 206.38409   +0.79%   $ 208.49371
 ..   ...        ...          ...    ...           ...      ...           ...
 97    96        NaN   adrenaline    ADN  $ 0.00021760   +0.71%  $ 0.00029029
 98    97        NaN         kava   KAVA   $ 1.1017362   -2.49%   $ 1.1520067
 99    98        NaN         icon    ICX  $ 0.11496818   +1.35%  $ 0.11591038
 100   99        NaN        swipe    SXP   $ 1.3436408  +13.44%   $ 1.3562327
 101  100        NaN    gamexcoin    GXC  $ 0.38552423   +3.52%  $ 0.38968959

            24 low Price Charts 7d  24 volume  # Coins Market cap
 0     $ 7,186.601             NaN    $ 5.43B   18.13M  $ 131.54B
 1     $ 129.76983             NaN    $ 4.37B  109.10M   $ 14.41B
 2     $ 41.749571             NaN    $ 1.47B   63.76M    $ 2.69B
 3     $ 2.5778736             NaN  $ 887.99M    1.04B    $ 2.73B
 4     $ 203.99052             NaN  $ 819.32M   18.19M    $ 3.75B
 ..            ...             ...        ...      ...        ...
 97   $ 0.00021559             NaN    $ 4.03M      NaN        NaN
 98    $ 1.0778078             NaN    $ 3.94M    6.23M    $ 6.86M
 99   $ 0.11320075             NaN    $ 3.91M  473.40M   $ 54.42M
 100   $ 1.1829290             NaN    $ 3.85M   61.13M   $ 82.14M
 101  $ 0.37078351             NaN    $ 3.75M  726.38M  $ 280.03M

 [102 rows x 12 columns]]

In [36]:
len(df), type(df)

(1, list)

In [39]:
#modify the list 
list_value = df[0].iloc[:, 2:]

In [40]:
list_value.head()

,Name,Ticker,Last price,%,24 high,24 low,Price Charts 7d,24 volume,# Coins,Market cap
0,bitcoin,BTC,"$ 7,253.513",+0.71%,"$ 7,266.044","$ 7,186.601",NaN,$ 5.43B,18.13M,$ 131.54B
1,ethereum,ETH,$ 132.12937,+1.67%,$ 132.96212,$ 129.76983,NaN,$ 4.37B,109.10M,$ 14.41B
2,litecoin,LTC,$ 42.290521,+0.68%,$ 42.547199,$ 41.749571,NaN,$ 1.47B,63.76M,$ 2.69B
3,eos,EOS,$ 2.6239464,+1.62%,$ 2.6350494,$ 2.5778736,NaN,$ 887.99M,1.04B,$ 2.73B
4,bitcoincash,BCH,$ 206.38409,+0.79%,$ 208.49371,$ 203.99052,NaN,$ 819.32M,18.19M,$ 3.75B

In [41]:
list_value.shape

(102, 10)

In [43]:
del list_value['Price Charts 7d']

In [44]:
list_value.head()

,Name,Ticker,Last price,%,24 high,24 low,24 volume,# Coins,Market cap
0,bitcoin,BTC,"$ 7,253.513",+0.71%,"$ 7,266.044","$ 7,186.601",$ 5.43B,18.13M,$ 131.54B
1,ethereum,ETH,$ 132.12937,+1.67%,$ 132.96212,$ 129.76983,$ 4.37B,109.10M,$ 14.41B
2,litecoin,LTC,$ 42.290521,+0.68%,$ 42.547199,$ 41.749571,$ 1.47B,63.76M,$ 2.69B
3,eos,EOS,$ 2.6239464,+1.62%,$ 2.6350494,$ 2.5778736,$ 887.99M,1.04B,$ 2.73B
4,bitcoincash,BCH,$ 206.38409,+0.79%,$ 208.49371,$ 203.99052,$ 819.32M,18.19M,$ 3.75B